section {
  all: initial;
}

.waves {
  all: initial;
  /* border: 1px solid red; */
}

.waves-up {
  all: initial;
  display: block;
  height: 30vh;
  background-image: url("../img/waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.waves-middle {
  all: initial;
}

.waves-down {
  all: initial;
  display: block;
  height: 30vh;
  background-image: url("../img/waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateZ(180deg);
}

article {
  /* all: initial; */
  display: block;
  height: initial;
  width: initial;
  border-radius: initial;
  background-color: var(--section-color);
  text-align: center;
}

.gallery-project-mobile {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 80vh;
    grid-gap: 15px;
  }

.gallery-project {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 15px;
}

.gallery-project img, .gallery-project-mobile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    transition: transform .3s;
    cursor: pointer;
}

.gallery-project img:hover, .gallery-project-mobile img:hover {
    transform: scale(1.1);
}

.gallery-project a:first-child {
    grid-column:  1 / 3;
    grid-row: 1 / 3;
}
