/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"); */

:root {
  --background-color: #150022;
  --string-color: #fff;
  --card-color: #fff4;
  --card2-color: #fff5;
  --section-color: #281e5c;
  --section-border: #01011b;
  --primary-color: #fe8a3e;
  --sub-primary-color: #ff6600;
  --sub2-primary-color: #fa7a25;
  --secondary-color: #fd3838;
  --sub-secondary-color: #ff0000;
  --sub2-secondary-color: #ff1b1b;

  --gradien-color-text: -webkit-linear-gradient(
    30deg,
    var(--primary-color) 0%,
    var(--secondary-color) 74%
  );

  --sub-gradien-color-text: -webkit-linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--secondary-color) 74%
  );

  --gradient-color-box: linear-gradient(
    30deg,
    var(--primary-color) 0%,
    var(--secondary-color) 74%
  );

  --sub-gradient-color-box: linear-gradient(
    30deg,
    var(--sub2-primary-color) 0%,
    var(--sub2-secondary-color) 74%
  );
}

.key-text,
#brand-span,
.key-icon {
  background: var(--gradien-color-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 2.1em; */
  font-size: inherit;
  /* margin: auto; */
}

.key-text {
  /* position: absolute; */
  display: inline-block;
  border-right: 3px solid var(--secondary-color);
  /* animation: typing 2s steps(20, end) infinite alternate, blink .20s infinite step-end alternate; */
  animation: blink 0.5s infinite step-end alternate;
  white-space: nowrap;
  width: 10ex;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-image: url("../img/fondo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  /* border: 2px solid green; */
}

.nav {
  display: flex;
  width: 100%;
  z-index: 100;
  gap: 2rem;
  position: relative;
  justify-content: space-around;
  /* border: 2px solid blue; */
  align-items: center;
  background: transparent;
  padding-top: 1.5rem;
  transition: padding-top 0.5s, background 0.4s, position 0.5s;
  /* transition: all 1s; */
}

.nav__ul-res {
  display: none;
}

/* .container-brand {
	border: 2px solid blue;
} */

.container-brand__a {
  font-family: "Ubuntu", cursive;
  font-weight: 700;
  font-size: 2.2em;
  text-decoration: none;
  display: flex;
  /* line-height: auto; */
}

.container-brand__a h1:first-child {
  color: var(--string-color);
  line-height: 0.8rem;
  font-size: inherit;
  /* line-height: 1rem; */
}

#brand-span {
  line-height: 3.3rem;
  font-size: 1.2em;
  /* line-height: inherit; */
}

.nav__ul {
  flex-grow: 0.5;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin: 0;
  /* border: 2px solid green; */
}

.nav-item {
  display: flex;
  list-style: none;
  height: 100%;
  border-radius: 50px;
  /* transition: box-shadow .5s, border-radius .5s, background .5s, transform .5s;  */
}

.nav-item a {
  margin: 0;
}

.nav-item:hover {
  /* background: var(--gradient-color-box); */
  /* background-color: var(--secondary-color); */
  background: var(--gradien-color-text);
  box-shadow: 0px 0px 20px 2px var(--secondary-color);
  border-radius: 50px;
  transform: scale(1.05);
}

.nav-item:hover > a {
  color: #fff;
}

.nav-item a,
.nav-item-res a {
  color: var(--string-color);
  text-decoration: none;
  font-family: "Ubuntu", "sans-serif";
  font-weight: 700;
  height: auto;
  width: 100%;
  padding: 5px 10px;
  transition: background 1s;
  /* border: 2px solid blue; */
}

.header__div-container {
  padding: 10rem 5rem;
  color: var(--string-color);
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
}

.header__form {
  transform: translateY(-4rem);
}

.header__form p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-footer {
  padding: 4rem 0rem;
  /* border: 2px solid red; */
}

.form-img-cont {
  /* border: 2px solid red; */
  text-align: right;
  transform: translate(-4rem, -17rem);
}

.button {
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 50px;
  border: none;
  outline: none;
  background: var(--gradient-color-box);
  color: var(--gradien-color-text);
  cursor: pointer;
  box-shadow: 0px 0px 40px 0px var(--secondary-color);
  text-decoration: none;
}

.button:hover {
  color: #fff;
}

.button-cv {
  text-decoration: none;
  font-size: 1em;
  padding: 0.5rem 2rem;
}

section {
  /* border: 2px solid red; */
  width: 100%;
  height: 100vh;
  min-height: 694px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--section-border);
}

.waves {
  height: 50vh;
  width: 100%;
  background-image: url("../img/waves.svg");
  background-repeat: repeat-x;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  position: absolute;
  top: 0;
  filter: blur(5px);
}

.waves-down {
  transform: rotate(180deg) translateY(-100%);
}

.waves-middle {
  width: 100%;
  height: 10vh;
  background: var(--section-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* border: 2px solid red; */
}

article {
  height: 70vh;
  width: 80%;
  min-height: 485px;
  background: var(--card-color);
  position: relative;
  border-radius: 20px;
  padding: 2rem;
  color: var(--string-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  /* border: thin solid #f00; */
}

.article-title {
  text-align: center;
  line-height: 0;
  font-size: 1.5rem;
}

.article-title h1 {
  margin: 0;
}

.article-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  /* margin-top: 2rem; */
  max-height: calc(100% - 3.4rem);
  position: relative;
  overflow: auto;
  height: 100%;
  /* border: 2px solid red; */
  /* justify-content: space-around; */
}

.about-cont-img {
  flex: 1fr;
  max-height: 300px;
  /* max-width: 300px; */
  min-width: 300px;
  display: none;
}

.about-cont-img img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0px 0px;
}

.article-des {
  flex: 1fr;
  text-align: justify;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1fr;
}

.article-des h4 {
  margin-bottom: 0.5rem;
}

.article-des p {
  margin: 1rem 0rem;
  margin-bottom: 3rem;
  padding-right: 1rem;
  /* border: 2px solid greenyellow; */
}

.skills-des p {
  margin-bottom: 1rem;
}

.about-des {
  /* border: 2px solid red; */
  padding-right: none !important;
}

.grid-skills {
  padding: 1rem;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  gap: 1rem;
  width: 100%;
}

.grid-item {
  padding: 1.5rem;
  /* border: thin solid #aaa; */
  background: var(--card2-color);
  border-radius: 10px;
}

.grid-skills img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.profile-github {
  color: var(--primary-color);
  text-decoration: none;
}

.profile-github:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.article-cont {
  /* border: 2px solid red; */
}

.projects-des p {
  /* border: 2px solid greenyellow; */
  align-self: flex-start;
  /* margin: 0; */
  margin-bottom: 0;
}

.carousel {
  width: 90%;
  height: 100%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 0;
  /* border: 2px solid aqua; */
}

.carousel-indicators {
  /* border: 2px solid red; */
  margin: 0;
}

.carousel-inner {
  /* border: 2px solid greenyellow; */
  width: 100%;
  height: 100%;
}

.carousel-item {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
}

.carousel-card {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--card2-color);
  width: 50%;
  height: 40vh;
  min-height: 273px;
  margin: auto;
  border-radius: 20px;
  /* border: 2px solid red; */
}

.carousel-card-header {
  /* border: 2px solid yellow; */
  /* padding: 1.5rem; */
  flex: 1.5;
  flex-shrink: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.carousel-card-header h1 {
  color: var(--secondary-color);
  opacity: 0.2;
  margin: 0;
  font-size: 10rem;
  line-height: 0.5rem;
  padding: 0rem 4rem;
  padding-top: 1rem;
  /* border: 2px solid blue; */
}

.carousel-card-body {
  /* border: 2px solid yellow; */
  padding: 1rem;
  flex: 2;
  flex-shrink: 0;
}

.carousel-card-body p {
  padding: 0;
  font-size: 0.8em;
  /* line-height: 1.7em; */
  line-height: normal;
  letter-spacing: normal;
}

.carousel-card-footer {
  flex: 1.7;
  flex-shrink: 0;
  display: flex;
  width: 100%;
  position: relative;
  background: var(--gradient-color-box);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-footer-cont {
  /* border: 2px solid blue; */
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 0.5em;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  justify-content: center;
  align-items: center;
}

.card-footer-cont * {
  transition: color 0.3s;
}

.card-footer-cont div {
  /* border: 2px solid blue; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer-cont a,
.card-footer-cont h4,
.card-footer-cont i {
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  /* border: 2px solid aqua; */
}

.card-footer-cont a:hover,
.card-footer-cont h4:hover {
  text-decoration: underline;
  color: var(--section-color);
}

/* .card-footer-cont h4 {
	justify-self: flex- !important;
} */

.card-footer-cont i {
  font-size: 2.5rem;
}

.card-footer-cont div:nth-child(2) {
  flex: 2;
}

.card-footer-cont div:nth-child(3) {
  text-align: center;
}

.card-footer-cont div:nth-child(2) a,
.card-footer-cont i {
  color: #fff;
  cursor: pointer;
  /* background: #fff; */
}

.card-footer-cont div:nth-child(2) a,
.card-footer-cont i:hover {
  color: var(--section-color);
  /* background: #fff; */
}

.card-img-cont {
  max-width: 60px;
  height: 60px;
  position: relative;
  /* min-width: 10%; */
  /* max-height: 80%; */
  /* min-height: 93%;  */
  /* border: 1px solid red; */
}

.card-img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  /* border: 2px solid #fff; */
  position: absolute;
}

.article-des {
  /* font-size: 1em; */
  letter-spacing: normal;
}

.contact-des {
  flex-direction: row;
  gap: 5rem;
  /* border: 2px solid red; */
}

.contact-des-quickly,
.contact-des-form {
  /* border: 2px solid aqua; */
  flex: 1;
  height: 100%;
  padding-top: 1rem;
}

.contact__ul {
  padding: 0;
  /* border: 2px solid red; */
  margin-top: 1.5rem;
}

.contact__ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 1rem; */
  margin: 0.7rem 0rem;
}

.contact-icon-cont {
  min-width: 10%;
}

.contact-icon-cont i {
  font-size: 1.5em;
  width: 100%;
  display: block;
  margin: auto;
}

.contact__li-des {
  flex-grow: 1;
  font-size: 0.7em;
}

.contact__li-des h5 {
  font-weight: 600;
  margin: 0;
  line-height: normal;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.contact__li-des p {
  margin: 0;
  line-height: normal;
  padding: 0;
  margin: 0;
}

.contact-des {
  overflow: hidden;
}

.contact-des-form {
  /* border: 2px solid white; */
}

.contact-des-form p {
  font-size: 0.7em;
}

.contact-form {
  margin-top: 1.5rem;
  /* border: 2px solid aqua; */
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  /* padding: 10px 12px; */
  padding: 10px 0px;
  width: 100%;
  border: 0;
  outline: none;
  /* border-radius: 6px; */
  /* line-height: normal; */
  font-size: 0.7em;
  color: #fff;
  background: transparent;
  border-bottom: 3px solid var(--primary-color);
}

.contact-form textarea {
  height: 15vh;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa;
}

.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form textarea:hover {
  border-color: var(--sub-primary-color);
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  border-color: var(--sub-primary-color);
}

.contact-form input[type="submit"] {
  width: 100%;
  padding: 14px;
  background: var(--gradient-color-box);
  color: #fff;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 6px;
  transition: background 0.2s;
}

.contact-form input[type="submit"]:hover {
  background: var(--sub-gradient-color-box);
}

@media only screen and (max-width: 720px) {
  .nav__ul {
    display: none;
  }

  .nav {
    padding-bottom: 0;
  }
  .nav__ul-res {
    display: block;
    margin-bottom: 0;
  }

  .nav-res-button-cont i {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }

  .nav__ul-cont {
    display: block;
    position: absolute;
    width: 100%;
    height: calc((100vh) - (2em + 1em + 2rem));
    left: -100vw;
    top: calc(2.1em + 1em + 2rem);
    z-index: 200;
    transition: left 0.3s;
    /* background: #fff5; */
    /* border: 2px solid yellow; */
  }

  .nav__ul-cont:hover > .nav__ul-res-menu {
    left: -100vw;
  }

  .nav__ul-res-menu {
    background: var(--primary-color);
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .nav-item-res {
    list-style: none;
    width: 100%;
  }

  .nav-item-res a {
    display: block;
    width: 100%;
    padding: 0.7rem;
    font-size: 1.5em;
    cursor: pointer;
  }

  .nav-item-res a:hover {
    background: var(--sub-gradient-color-box);
  }

  .header__div-container {
    padding: 9rem 1rem;
    font-size: 2rem;
  }

  .form-footer {
    /* border: 2px solid red; */
    padding: 2rem 0rem;
  }

  .button {
    padding: 0.5rem 1rem;
    font-size: 0.8em;
    box-shadow: 0px 0px 20px 0px var(--secondary-color);
  }

  .form-img-cont {
    padding-top: 3rem;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0.2rem, 0.7rem);
  }

  .form-img-cont img {
    width: 100%;
  }

  .waves {
    background: var(--section-border);
  }

  section {
    height: auto;
    min-height: auto;
  }

  article {
    /* border: 2px solid blue; */
    width: 100%;
    border-radius: 0;
    background: transparent;
    padding: 1rem;
    display: static;
    height: auto;
    font-size: 1rem;
  }

  .article-title {
    font-size: 1.3rem;
  }

  .article-cont {
    /* border: 2px solid green; */
    flex-wrap: wrap;
    gap: 1rem;
    height: auto;
    overflow: hidden;
    /* flex-direction: column; */
  }

  .about-cont {
    height: auto;
  }

  .about-cont-img {
    /* border: 2px solid red; */
    min-width: 250px;
    max-height: 250px;
  }

  .about-cont-img img {
    max-height: 250px;
  }

  .article-des {
    display: block;
  }

  .about-des p {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  .about-des div {
    /* border: 2px solid red; */
    padding: 1rem;
    text-align: center;
  }

  .grid-skills {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
  }

  .skills-cont {
    max-height: 75vh;
    overflow: auto;
  }

  .carousel {
    width: 100%;
  }

  .carousel-card {
    /* border: 2px solid gold; */
    width: 100%;
    height: 40vh;
  }

  .carousel-card-header h1 {
    font-size: 8rem;
  }

  .carousel-card-body {
    /* border: 2px solid yellow; */
    padding: 0.5rem 3rem;
    padding-top: 0;
  }

  .card-img-cont {
    max-width: 60px;
    max-height: 60px;
    position: relative;
    /* border: 1px solid red; */
  }

  .contact-des h4 {
    text-align: center;
  }

  .contact-icon-cont i {
    font-size: 2em;
  }

  .contact__li-des {
    transform: translateX(0.7rem);
  }

  .contact__li-des h5 {
    font-size: 1.4em;
  }

  .contact__li-des p {
    font-size: 1.3em;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    font-size: 1.3em;
  }
}
